* {
    background-color:burlywood;
}
.title {
    font-family: "Rye", serif;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(50, 4, 4);
    color: rgb(247, 226, 198);
}

.heading {
    font-family: "Peralta", serif;
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

.paragraph {
    font-family: "Shadows Into Light", serif;
    font-size: 40px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}

#timer {
    font-size: 50px;
    font-family: verdana;
    text-align: center;
    
}

.image-and-text {
    display: flex;
    align-items: left;
    margin-bottom: 0;
} 

.sign-labels {
    font-family: "Rye", serif;
    color: rgb(247, 226, 198);
    font-size: 35px;
    text-align: left;
    margin-top: -830px;
    margin-left: 145px;
}

.focus-session {
    background-color: transparent;
    transform: rotate(-5deg);
}

.long-break {
    background-color: transparent;
    transform: rotate(5deg);
    margin-top: 60px;
    margin-left: -20px;
}

.short-break {
    background-color: transparent;
    transform: rotate(5deg);
    margin-top: -10px;
}